@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');
*{
  box-sizing: border-box;
}
:root{
  /* typography */
  --family: 'Nunito Sans', sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fw-light: 100;
  --fw-normal: 600;
  --fw-bold: 800;
  /* others */
  --radii: 0.5rem;
}

body[data-theme='dark']{
  --shadow: 0 0 3px hsl(0,0%, 100%);
  --colors-text: hsl(0,0%, 100%);
  --colors-bg: hsl(207,20%,17%);
  --colors-ui-base: rgb(38, 45, 49);
}
body[data-theme='light']{
  --shadow: 0 0 3px hsl(0, 0%, 51%);
  --colors-text:  hsl(200, 15%, 8%);
  --colors-bg: hsl(0,0%,98%);
  --colors-ui-base: hsl(0,0%,100%);
}

body{
  margin: 0;
  font-family: var(--family)!important;
  color: var(--colors-text)!important;
  font-weight: var(--fw-light)!important;
  background-color: var(--colors-ui-base)!important;
}

